<div id='form-header'><span id='all-content'><%= @party.human_name %></span></div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Theme:</strong>
  <%= @party.theme %>
</p>

<p>
  <strong>Location:</strong>
  <%= @party.location %>
</p>

<p>
  <strong>When held:</strong>
  <%= @party.when_held %>
</p>

<p>
  <strong>Host:</strong>
  <%= @party.host %>
</p>

<p>
  <strong>Host email:</strong>
  <%= mail_to @party.host_email, nil, subject: "That party on #{@party.when_held}",
                                body:  <<-EOM
Hey #{@party.host}!

Who else will be there?
EOM
  %>
</p>

<%= link_to 'Edit', edit_party_path(@party) %> |
<%= link_to 'Back', parties_path %>
