<!DOCTYPE html>
<html>
<head>
  <title>PartyPlanner</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <div class="banner">
  <%= link_to '/' do %>
    Party Animal! The party planner.
  <% end %>
  </div>

<%= yield %>

</body>
</html>
